// Color system
$dark-1: #201E29;
$gray-0: #F1F1F1;
$gray-3: #828282;
$gray-40: #C7C7C7;
/* Grayscale / Gray 60 (Disabled) */
$gray-60: #A1A1A1;
$gray-80: #656565;
/* Grayscale / Gray 100 */
$gray-100: #1A1A1A;
// Raima colors
$raima-red: #da465c;
$raima-light-red: #d43652;
$raima-dark: #1f2931;
$raima-light-dark: #101e2a;
$raima-bg: #1a232a;
$raima-db: #23313c;
